.avatar {
    width: 50%;
    margin: auto;
}

.people_container {

}

.people_container p {
    display: flex;
    justify-content: center;
}

.friends {

}

.friends h1{
    font-size: 23px;
    font-weight: 600;
    color: #3e416d;
    margin-bottom: 0;
}
