.item {
    font-size: 16px;
    height: 100%;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    font-weight: 600;
}

.item a {
    color: #888;
}

a.active {
    color: #1a73e8;
}

.nav {
    padding: 10px;
    margin: 5px;
    background-color: #ffffff;
    border-radius: 15px;
}

.aside {
    flex: 0 0 20%;
    max-width: 20%;
    min-width: 20%;
    position: fixed;
    padding: 5px;
    width: 20%;
    height: 100%;
    background-color: #F5F5F5;
}

.home{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
